<div class="field">
    <div class="list">

<div style="height: 60vh; max-height: 60vh; overflow-y: scroll;">
  <table mat-table [dataSource]="instances()" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>
    <ng-container matColumnDef="file">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.file}} </td>
    </ng-container>
    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr
      (click)="instance.set(row)"
      mat-row
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
</div>
<button
mat-fab
extended
(click)="addInstance()">
Create new session
</button>
</div>
<div class="content">
  <app-instance
    class="w-95"
    *ngIf="instance()"
    (saved)="refresh()"
    (delete)="deleteInstance()"
    [instance]="instance()!"
    ></app-instance>
</div>
</div>
