<mat-toolbar  [color]="'primary'">
  <button mat-icon-button [matMenuTriggerFor]="menu" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span style="padding-left: 200px;"></span>


  <button matTooltip="Create a new session" routerLink="/session" class="bar-button" mat-button >
    <mat-icon>transcribe</mat-icon>
  </button>
  <button matTooltip="All sessions" routerLink="/list" class="bar-button" mat-button >
    <mat-icon>list_alt</mat-icon>
  </button>

  <button matTooltip="AI settings" routerLink="/settings" class="bar-button" mat-button >
    <mat-icon>toggle_on</mat-icon>
  </button>
  <button matTooltip="Interaction settings" routerLink="/prompts" class="bar-button" mat-button >
    <mat-icon>grid_view</mat-icon>
  </button>

  <button routerLink="/welcome" class="bar-button" mat-button >
    <mat-icon>waving_hand</mat-icon>
  </button>

</mat-toolbar>
<mat-menu #menu="matMenu">

  <button matTooltip="Create a new session" routerLink="/session" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>transcribe</mat-icon> <span>New Session</span>
  </button>
  <button matTooltip="All sessions" routerLink="/list" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>list_alt</mat-icon> <span>Sessions</span>
  </button>
  <mat-divider></mat-divider>
  <button matTooltip="AI settings" routerLink="/settings" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>toggle_on</mat-icon> <span>AI Model Settings</span>
  </button>
  <button matTooltip="Interaction settings" routerLink="/prompts" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>grid_view</mat-icon> <span>Prompt Settings</span>
  </button>

  <mat-divider></mat-divider>

  <button
    routerLink="/chat" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>chat</mat-icon> <span>Chat</span>
  </button>
  <button routerLink="/welcome" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>waving_hand</mat-icon> <span>Home</span>
  </button>

  <button routerLink="/aes" routerLinkActive="active" ariaCurrentWhenActive="page" mat-menu-item >
    <mat-icon>encrypted</mat-icon> <span>AES Config</span>
  </button>
</mat-menu>

<router-outlet />

<!-- <button
    routerLink="/showcase"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >

    <mat-icon>theater_comedy</mat-icon>
    <span>Showcase</span>
  </button> -->
