<mat-toolbar [color]="'primary'">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-menu #menu="matMenu">
  <button
    routerLink="/welcome"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >
    <mat-icon>waving_hand</mat-icon>
    <span>Welcome</span>
  </button>
  <button
    routerLink="/chat"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >
    <mat-icon>chat</mat-icon>
    <span>Chat</span>
  </button>
  <button
    routerLink="/settings"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >
    <mat-icon>toggle_on</mat-icon>
    <span>Settings</span>
  </button>
  <button
    routerLink="/transcription"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >
    <mat-icon>record_voice_over</mat-icon>
    <span>Transcription</span>
  </button>
  <button
    routerLink="/showcase"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >

    <mat-icon>theater_comedy</mat-icon>
    <span>Showcase</span>
  </button>
  <button
    routerLink="/liveSession"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    mat-menu-item
  >
    <mat-icon>transcribe</mat-icon>
    <span>Live Transcript</span>
  </button>


</mat-menu>

<router-outlet />
