<button
*ngIf="dirty && !pending"
mat-fab
extended
style="position: absolute; right: 80px; z-index: 1;"
(click)="saveInstance()"
>
Save
</button>
<mat-form-field class="w-70">
  <mat-label>Name</mat-label>
  <input
    [(ngModel)]="instance.name"
    (ngModelChange)="publishChanges()"
    matInput
  />

</mat-form-field>
<mat-form-field class="w-95">
  <mat-label>Date</mat-label>
  <input
    [(ngModel)]="instance.date"
    (ngModelChange)="publishChanges()"
    matInput
  />
</mat-form-field>
<div *ngIf="!pending" class="w-95" style="display: flex; overflow: hidden;">
  <mat-form-field style="flex: 1 0">
    @if (invalidFile) { <mat-label>File (* invalid *)</mat-label> } @else {
    <mat-label>File</mat-label> }

    <input
      (keydown)="fileKeyDown($event)"
      [(ngModel)]="instance.file"
      (ngModelChange)="publishChanges()"
      matInput
    />
  </mat-form-field>
  <button
    *ngIf="instance.file && instance.file.length > 0 && !invalidFile"
    mat-stroked-button
    style="margin-left: 20px;"
    extended
    (click)="openfile()"
  >
    <mat-icon>open_in_browser</mat-icon>
    Open file
  </button>
</div>
<div class="w-95" style="overflow: hidden">
    <app-tags-select [tagThing]="instance" (changed)="dirty$.next()"></app-tags-select>
</div>


<mat-button-toggle-group
  style="margin-left: 60px"
  [(ngModel)]="view"
  (ngModelChange)="changeView()"
>
  <mat-button-toggle value="note">
    Note
    @if (instance.note === undefined ||  instance.note.length === 0) { {{ ' *' }} }
  </mat-button-toggle>
  <ng-container *ngIf="!pending">

    <mat-button-toggle value="transcript">
      Transcript
      @if (instance.transcript === undefined ||  instance.transcript.length === 0) { {{ ' *' }} }
    </mat-button-toggle>
    <mat-button-toggle
      [value]="interaction.name"
      *ngFor="let interaction of settings.interactions"
      >
      {{ interaction.name }}
      @if (interactions[interaction.name] === undefined ||  interactions[interaction.name].length === 0) { {{ ' *' }} }
      </mat-button-toggle
    >
  </ng-container>
  <mat-button-toggle value="history">History</mat-button-toggle>
</mat-button-toggle-group>

<mat-button-toggle-group
  [(ngModel)]="displayMode"
  style="margin-left: 1rem"
  (ngModelChange)="changeDisplayMode()"
>
  <mat-button-toggle value="edit">Edit</mat-button-toggle>
  <mat-button-toggle value="markdown">Markdown</mat-button-toggle>
</mat-button-toggle-group>
<mat-divider style="margin-bottom: 30px; margin-top: 20px"></mat-divider>


<div *ngIf="displayMode === 'edit'">
  <mat-form-field *ngIf="view === 'note'" class="w-95">
    <mat-label>Note</mat-label>
    <textarea
      rows="5"
      [(ngModel)]="instance.note"
      (ngModelChange)="publishChanges(false)"
      matInput
    ></textarea>
  </mat-form-field>

  <ng-container *ngIf="view === 'history'">
    <mat-form-field class="w-95">
      <mat-label>History</mat-label>
      <mat-select
        (ngModelChange)="historyIndexChange($event)"
        [(ngModel)]="historyIndex"
      >
      <mat-option
        *ngFor="let entry of history; let idx = index"
        [value]="idx"
        >{{ entry.message }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-button-toggle-group
      [(ngModel)]="historyDisplayMode"
      style="margin-left: 1rem"
    >
      <mat-button-toggle value="edit">Edit</mat-button-toggle>
      <mat-button-toggle value="markdown">Markdown</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="historyDisplayMode === 'markdown'" style="max-width: 65vw">
      <markdown
        class="w-95"
        [data]="historyContent"
        ngPreserveWhitespaces
      ></markdown>
    </div>
    <ng-container *ngIf="historyDisplayMode === 'edit'">
      <mat-form-field class="w-95">
        <mat-label>Content</mat-label>
        <textarea
          rows="15"
          readonly
          [(ngModel)]="historyContent"
          matInput
        ></textarea>
      </mat-form-field>

  </ng-container>
  </ng-container>

  <ng-container *ngIf="view === 'transcript'">
    <mat-form-field class="w-95">
      <mat-label>Transcript</mat-label>
      <textarea
        rows="15"
        [(ngModel)]="instance.transcript"
        (ngModelChange)="publishChanges(false)"
        matInput
      ></textarea>
    </mat-form-field>

    <button
      *ngIf="instance.file && instance.file.length > 0"
      mat-fab
      extended
      (click)="runTranscribe()"
    >
      @if (instance.transcript && instance.transcript.length > 0) { Retranscribe
      from audio } @else { Transcribe from audio }
    </button>
  </ng-container>

  <ng-container *ngIf="isInteractionName(view)">
    <mat-form-field class="w-95">
      <mat-label>{{ view }}</mat-label>
      <textarea
        rows="15"
        [(ngModel)]="interactions[view]"
        (ngModelChange)="publishChanges(false)"
        matInput
      ></textarea>
    </mat-form-field>
    <button mat-fab extended (click)="runInteraction(view)">
      @if (interactions[view] && interactions[view].length > 0) { Request
      {{ view }} again } @else { Request {{ view }} }
    </button>
  </ng-container>
</div>
<div *ngIf="markdownContent" style="max-width: 65vw">
  <markdown
    class="w-95"
    [data]="markdownContent"
    ngPreserveWhitespaces
  ></markdown>
</div>

<button
  *ngIf="!deleteAreYouSure && !pending"
  class="list-child"
  mat-fab
  extended
  (click)="deleteClick()"
>
  Delete
</button>

<button

  *ngIf="deleteAreYouSure"
  class="list-child"
  mat-fab
  extended
  (click)="nevermind()"
>
  nevermind
</button>
<button
  style="margin-left: 30px"
  *ngIf="deleteAreYouSure"
  class="list-child"
  mat-fab
  extended
  (click)="reallyDelete()"
>
  Yes, I"m sure
</button>

